<h1>简历详细信息</h1>

<div>
    姓名： {{object.username}}  城市：{{object.city}}  手机号码： {{object.phone}}
</div>

<div>
    邮件地址： {{object.email}}
    申请职位： {{object.apply_position}}
    出生地： {{object.born_address}}
    性别：  {{object.gender}}
</div>

<hr>

<div>
    本科学校： {{object.bachelor_school}}
    研究生学校： {{object.master_school}}
    专业： {{object.major}}
    学历： {{object.degree}}
</div>

<hr>

<div>
    候选人介绍： {{object.candidate_introduction}}
    工作经历： {{object.work_experience}}
    项目经历： {{object.project_experience}}
</div>